.btn {
  display: block;
}

.Result{
  display:none;
}
h1{
  text-align: center;
  padding: 50px;
}
#row1{
  background-color: #ccccff;
  min-height: 40px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
}
#row2{
  background-color: #d7e6e8;
}
#row3{
  width: 500px;
  height: 200px;
  border: 2px solid green;
  padding: 2px;
  margin: 2px;
  background-color: white;
  }
#frontend{
  display: none;
}
#ruby{
  display: none;
}
#PHP{
  display: none;
}

button{
  background-color: #ccccff;
}

.clickable {
  cursor: pointer;
  color: #ff1a66;
}
img{
  display: none;
}
.clickable:hover {
  text-decoration: underline;
}
body{
  background-color: #ffcc99;
}
/*.hideanswers{
  display: none;
}*/
