.btn {
  display: block;
}

.Result{
  display:none;
}
h1{
  text-align: center;
}
#row1{
  background-color: red;
  min-height: 40px;
}

#frontend{
  display: none;
}
#ruby{
  display: none;
}
/*.hideanswers{
  display: none;
}*/
