.btn {
  display: block;
}

.Result{
  display:none;
}
h1{
  text-align: center;
}
#row1{
  background-color: red;
  min-height: 40px;
  
}
/*#Equ,#Iso,#Sca,#nulTriangle{
  display:none;
}*/
/*.hideanswers{
  display: none;
}*/
