.btn {
  display: block;
}

.Result{
  display:none;
}
h1{
  text-align: center;
  padding: 50px;
}
#row1{
  background-color: #ccccff;
  min-height: 40px;
  margin: 20px;
  text-align: center;
}

#frontend{
  display: none;
}
#ruby{
  display: none;
}
#PHP{
  display: none;
}

button{
  background-color: #ccccff;
}
#row2{
  background-color: #d7e6e8;
}

/*.hideanswers{
  display: none;
}*/
